{
    "trailingComma": "es5",
    "tabWidth": 2,
    "semi": false,
    "singleQuote": true,
    "parserOptions": {
      "ecmaVersion": 7
    },
    "rules": {
      "semi": ["error", "never"]
    }
  }
  